h1 {
    columns: #324455;
    padding: 30px;
    margin-right: 30px;
   }
.header * {
    border: flex;
    padding: 30px;
    margin: 30px;
}
.header{
    background-color: #d2691e;
    display:flex;
    justify-content: space-between;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ff0000;
}


.footer{
    display: flex;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}
body{
    background-color: #808080;
}
a:link{
    color: #32d34e;

}
a:visited{
    color: #3d380e;
}
.item{
    position: relative;
}
.item p{
    position:absolute;
    left:50%;
    right:50%;
    bottom:50%;
    transform: translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.3;
}
